variaveis{
--color-inputs: rgb(0, 0, 0);
}
.container_main{
    margin-top: 25px;
    padding-inline: 10px;
}

.container-esquerdo img{
    height: 100vh;
    width: 100vh;
}
.text-area{
    height: 100px;
    width: 100%;
    max-width: 570px    ;
}
.envio-arquivo{
    height: 400px;
    width: 400px;
    background-image: url("/imagens/carregar.png");
}
input:focus,
textarea:focus,
select:focus
{
    outline: 2px solid var(--color-inputs);
   
}